@model KakeiboForMVC.Models.HimokuViewModel

@section Css {
    <link rel="stylesheet" href="~/css/messageBoxDialog.css" asp-append-version="true" />
}

<div id="main">
    <div class="container">
        <!-- コンソールの表示 -->
        <div id="console">
            <form id="inputForm" method="post"></form>
            <div>
                <div class="flex-row">
                    <div style="width: 3rem; margin-right: 0.5rem;" required>費目名</div>
                    <input asp-for="Name" id="nameText"
                           type="text" maxlength="20" style="width: 15rem;">
                </div>
                <div class="flex-row" style="justify-content: flex-start">
                    <button id="inputButton" type="button" style="margin-left: 3.5rem;">
                        登録
                    </button>
                </div>
                @if (Model.ErrorMessages.Count > 0)
                {
                    <div class="error-message-area" style="width: 19rem;">
                        <ul>
                            @foreach (var item in Model.ErrorMessages)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

        <!-- 費目データテーブルの表示 -->
        <div id="printableArea">
            <div id="table-section">
                <form id="updateForm" method="post"></form>
                <form id="deleteForm" method="post"></form>
                <input asp-for="ShowDialog" id="showDialog" type="hidden" />
                <input asp-for="UpdateId" id="deleteId" type="hidden" />

                @if (Model.HimokuList != null && Model.HimokuList.Count > 0)
                {
                    <div id="table-title">
                        <div style="margin-left: 0.5rem;">費目コード</div>
                    </div>

                    <div id="table-area">
                        <table id="table">
                            <thead>
                                <tr class="head-row">
                                    <th class="fixed-row-col" style="width: 3rem;">ID</th>
                                    <th class="fixed-row" style="width: 20rem;">費目</th>
                                    <th class="fixed-row no-screen-element"
                                        style="width:auto; min-width: 10rem;">備考</th>
                                    <th class="fixed-row no-print-element" style="width: 3rem;">更新</th>
                                    <th class="fixed-row no-print-element" style="width: 3rem;">削除</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.HimokuList)
                                {
                                    <tr class="body-row">
                                        <th class="fixd-col number-col">@item.Id</th>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.Name" id="name-@item.Id" type="text" />
                                        </td>
                                        <td class="inner-box-col no-print-element">
                                            <button class="updateButtons" type="button"
                                                    data-id="@item.Id"
                                                    data-name-id="name-@item.Id">
                                                更新
                                            </button>
                                        </td>
                                        <td class="inner-box-col no-print-element">
                                            <button class="deleteButtons" type="button"
                                                    data-id="@item.Id">
                                                削除
                                            </button>
                                        </td>
                                        <td class="no-screen-element"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Footer {
    <div class="footer-items">
        <div class="footer-item"><div id="print">印刷</div></div>
        <div class="footer-item"><div id="copy">コピー</div></div>
    </div>
}

@section Scripts {
    <script src="~/js/Common/MessageBoxDialog.js" asp-append-version="true"></script>
    <script src="~/js/Himoku/Update.js" asp-append-version="true"></script>
}