@model KakeiboForMVC.Models.HimokuViewModel

<div id="main">
    <div class="container">
        <!-- コンソールの表示 -->
        <div id="console">
            <form id="inputForm" method="post"></form>
            <div>
                <div class="flex-row">
                    <div style="width: 3rem; margin-right: 0.5rem;" required>費目名</div>
                    <input asp-for="Name" id="nameText" type="text" maxlength="20" style="width: 15rem;">
                </div>
                <div class="flex-row" style="justify-content: flex-start">
                    <button id="inputButton" type="button" style="margin-left: 3.5rem;">
                        登録
                    </button>
                </div>
                @if (Model.ErrorMessages.Count > 0)
                {
                    <div class="error-message-area">
                        <ul>
                            @foreach (var item in Model.ErrorMessages)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

        <!-- 費目データテーブルの表示 -->
        <div id="printableArea">
            <div id="table-section">
                <div class="table-title" style="display:flex; align-items: center; margin-top:0.5rem; font-size:var(--font-size-l);">
                    <div style="margin-left: 0.5rem;">費目コード</div>
                </div>

                <form id="updateForm" method="post"></form>
                <form id="deleteForm" method="post"></form>
                <input asp-for="ShowDialog" id="showDialog" type="hidden" />
                <input asp-for="UpdateId" id="deleteId" type="hidden" />
                <div id="table-area">
                    <table id="table">
                        <thead>
                            <tr class="head-row">
                                <th class="fixed-row-col" style="width: 3rem;">ID</th>
                                <th class="fixed-row" style="width: 20rem;">費目</th>
                                <th class="fixed-row no-print-area" style="width: 3rem;">更新</th>
                                <th class="fixed-row no-print-area" style="width: 3rem;">削除</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.HimokuList != null)
                            {
                                foreach (var item in Model.HimokuList)
                                {
                                    <tr class="body-row">
                                        <th class="fixd-col number-col">@item.Id</th>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.Name" id="name-@item.Id" type="text" />
                                        </td>
                                        <td class="inner-box-col no-print-area">
                                            <button class="updateButtons" type="button"
                                                    data-id="@item.Id"
                                                    data-name-id="name-@item.Id">
                                                更新
                                            </button>
                                        </td>
                                        <td class="inner-box-col no-print-area">
                                            <button class="deleteButtons" type="button"
                                                    data-id="@item.Id">
                                                削除
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <div class="footer-items">
        <div class="footer-item"><div id="printTag">印刷</div></div>
        <div class="footer-item"><a href="">CSV出力</a></div>
    </div>
}

@section Scripts {
    <script src="~/js/Himoku/Update.js" asp-append-version="true"></script>
}