@using KakeiboForMVC.Controllers

@model KakeiboForMVC.Models.DisplayViewModel
<div id="main">
    <div class="container">
        <!-- コンソールの表示 -->
        <div id="console">
            <form action="Display" method="post">
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;">期間</div>
                    <input asp-for="FirstDate" type="date" id="firstDate"  style="width: 7rem;">
                    <div style="margin-left: 0.3rem; margin-right: 0.3rem;">～</div>
                    <input asp-for="LastDate" type="date" required style="width: 7rem;">
                </div>
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;">費目</div>
                    <select asp-for="HimokuId" asp-items="Model.HimokuNameSelect">
                        <option value="0">全て</option>
                    </select>
                </div>
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;" required>明細</div>
                    <input asp-for=" Meisai" type="text" maxlength="100" style="width: 15rem;">
                </div>
                <div class="flex-row" style="justify-content: flex-start">
                    <input type="submit" value="検索" style="margin-left: 2.5rem;">
                </div>
                @if (Model.ErrorMessages.Count > 0)
                {
                    <div class="error-message-area">
                        <ul>
                            @foreach (var item in Model.ErrorMessages)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                }
            </form>
        </div>

        <!-- 家計簿データの入力履歴のテーブルを表示 -->
        <div id="table-section">
            <div id="table-area">
                <table id="table">
                    <thead>
                        <tr class="head-row">
                            <th class="fixed-row-col" style="width: 5rem;">ID</th>
                            <th class="fixed-row" style="width: 8rem;">日付</th>
                            <th class="fixed-row" style="width: 20rem;">費目</th>
                            <th class="fixed-row" style="width: 50rem;">明細</th>
                            <th class="fixed-row" style="width: 10rem;">収入</th>
                            <th class="fixed-row" style="width: 10rem;">支出</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.KakeiboList != null)
                        {
                            Decimal totalNyukin = 0;
                            Decimal totalShukin = 0;
                            foreach (var item in Model.KakeiboList)
                            {
                                <tr class="body-row">
                                    <th class="fixd-col number-col">@item.Id</th>
                                    <td class="date-col">@item.Hiduke?.ToString("yyyy/MM/dd")</td>
                                    <td class="text-col">@item.HimokuName</td>
                                    <td class="text-col">@item.Meisai</td>
                                    <td class="number-col">@item.NyukinGaku?.ToString("#,#")</td>
                                    <td class="number-col">@item.ShukinGaku?.ToString("#,#")</td>
                                </tr>
                                totalNyukin += item.NyukinGaku ?? 0;
                                totalShukin += item.ShukinGaku ?? 0;
                            }
                            <tr class="bottom-row">
                                <th class="fixd-col"></th>
                                <td class="date-col">合計</td>
                                <td></td>
                                <td></td>
                                <td class="number-col">@totalNyukin.ToString("#,#")</td>
                                <td class="number-col">@totalShukin.ToString("#,#")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/kakeibo/Display.js" asp-append-version="true"></script>
}