@model KakeiboForMVC.Models.UpdateViewModel

<div id="main">
    <div class="container">
        <!-- コンソールの表示 -->
        <div id="console">
            <form id="displayForm" action="Update" method="get">
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;">期間</div>
                    <input asp-for="FirstDate" id="firstDate" type="date" required style="width: 7rem;">
                    <div style="margin-left: 0.3rem; margin-right: 0.3rem;">～</div>
                    <input asp-for="LastDate" id="lastDate" type="date" required style="width: 7rem;">
                </div>
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;">費目</div>
                    <select asp-for="HimokuId" id="himokuId" asp-items="Model.HimokuNameSelect">
                        <option value="0">全て</option>
                    </select>
                </div>
                <div class="flex-row">
                    <div style="width: 2rem; margin-right: 0.5rem;" required>明細</div>
                    <input asp-for="Meisai" id="meisai" type="text" maxlength="100" style="width: 15rem;">
                </div>
                <div class="flex-row" style="justify-content: flex-start">
                    <button id="displayButton" type="button" style="margin-left: 2.5rem;">
                        検索
                    </button>
                </div>
                @if (Model.ErrorMessages.Count > 0)
                {
                    <div class="error-message-area">
                        <ul>
                            @foreach (var item in Model.ErrorMessages)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                }
            </form>
        </div>

        <!-- 家計簿データテーブルの表示 -->
        <div id="printableArea">
            <div id="table-section">
                <form id="updateForm" method="post"></form>
                <form id="deleteForm" method="post"></form>
                <input asp-for="ShowDialog" id="showDialog" type="hidden" />
                <input asp-for="UpdateId" id="deleteId" type="hidden" />

                <div id="table-title">
                    <div style="margin-left: 0.5rem;">@Model.FirstDate?.ToString("yyyy年MM月dd日")</div>
                    @if (Model.FirstDate != Model.LastDate)
                    {
                        <div style="margin-left: 0.5rem;">～</div>
                        <div style="margin-left: 0.5rem;">@Model.LastDate?.ToString(" yyyy年MM月dd日")</div>
                    }
                    <div style="margin-left: 0.5rem;">家計簿</div>
                    @if (Model.HimokuId != 0)
                    {
                        <div style="margin-left: 0.5rem;">@Model.HimokuName</div>
                    }
                    <div style="margin-left: 0.5rem;">@Model.Meisai</div>
                </div>

                <div id="table-area">
                    <table id="table">
                        <thead>
                            <tr class="head-row">
                                <th class="fixed-row-col" style="width: 5rem;">ID</th>
                                <th class="fixed-row" style="width: 8rem;">日付</th>
                                <th class="fixed-row" style="width: 20rem;">費目</th>
                                <th class="fixed-row" style="width: 50rem;">明細</th>
                                <th class="fixed-row" style="width: 10rem;">収入</th>
                                <th class="fixed-row" style="width: 10rem;">支出</th>
                                <th class="fixed-row no-screen-element" style="width:auto; min-width: 5rem;">備考</th>
                                <th class="fixed-row no-print-area" style="width: 3.5rem;">更新</th>
                                <th class="fixed-row no-print-area" style="width: 3.5rem;">削除</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.KakeiboList != null)
                            {
                                foreach (var item in Model.KakeiboList)
                                {
                                    <tr class="body-row">
                                        <th class="fixd-col number-col">@item.Id</th>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.Hiduke" id="hiduke-@item.Id" type="date" />
                                        </td>
                                        <td class="inner-box-col">
                                            <select asp-for="@item.HimokuId" id="himokuid-@item.Id"
                                                    asp-items="Model.HimokuNameSelect"></select>
                                        </td>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.Meisai" id="meisai-@item.Id" type="text" />
                                        </td>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.NyukinGaku" id="nyukingaku-@item.Id"
                                                   type="text" autocomplete="off" style="text-align: right;" />
                                        </td>
                                        <td class="inner-box-col">
                                            <input asp-for="@item.ShukinGaku" id="shukingaku-@item.Id"
                                                   type="text" autocomplete="off" style="text-align: right;" />
                                        </td>
                                        <td class="no-screen-element"></td>
                                        <td class="inner-box-col no-print-area">
                                            <button class="updateButtons" type="button"
                                                    data-id="@item.Id"
                                                    data-hiduke-id="hiduke-@item.Id"
                                                    data-himokuid-id="himokuid-@item.Id"
                                                    data-meisai-id="meisai-@item.Id"
                                                    data-nyukingaku-id="nyukingaku-@item.Id"
                                                    data-shukingaku-id="shukingaku-@item.Id">
                                                更新
                                            </button>
                                        </td>
                                        <td class="inner-box-col no-print-area">
                                            <button class="deleteButtons" type="button"
                                                    data-id="@item.Id">
                                                削除
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <dialog id="confirmDialog">
        <div class="container">
            <div>削除してもよろしいですか？</div>
            <div class="flex-row">
                <button id="okButton" style="margin-right: 0.5rem;">はい</button>
                <button id="cancelButton">キャンセル</button>
            </div>
        </div>
    </dialog>
</div>

@section Footer {
    <div class="footer-items">
        <div class="footer-item"><div id="print">印刷</div></div>
        <div class="footer-item"><div id="copy">コピー</div></div>
    </div>
}

@section Scripts {
    <script src="~/js/Kakeibo/Update.js" asp-append-version="true"></script>
}