@model KakeiboForMVC.Models.DisplayViewModel

<div id="main">
	<!-- コンソールの表示 -->
	<section id="console">
		<form action="Update" method="get">
			<table>
				<tr>
					<td>期間</td>
					<td>
						<input asp-for="FirstDate" id="firstDateText" type="date" style="width:10em" required>～
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input asp-for="LastDate" type="date" style="width:10em" required>
					</td>
				</tr>
				<tr>
					<td>費目</td>
					<td>
						<select asp-for="HimokuId" asp-items="Model.HimokuNameSelect" style="width:10em">
							<option value="0">全て</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>明細</td>
					<td rowspan="4">
						<textarea asp-for="Meisai" rows="4" style="width:10em"></textarea>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="表示">
					</td>
				</tr>
			</table>
		</form>
	</section>

	<!-- 家計簿データテーブルの表示 -->
	<section id="tableSection">
		<div id="tableArea">
			<table id="kakeiboTable">
				<thead>
					<tr class="headRow">
						<th class="fixdRowCol" style="width: 5em;">ID</th>
						<th class="fixdRow" style="width: 8em;">日付</th>
						<th class="fixdRow" style="width: 20em;">費目</th>
						<th class="fixdRow" style="width: 50em;">明細</th>
						<th class="fixdRow" style="width: 10em;">収入</th>
						<th class="fixdRow" style="width: 10em;">支出</th>
						<th class="fixdRow" style="width: auto;">更新</th>
						<th class="fixdRow" style="width: auto;">削除</th>
					</tr>
				</thead>

				<tbody>
					@if (Model.KakeiboList != null)
					{
						foreach (var item in Model.KakeiboList)
						{
							<tr class="bodyRow">
								<form action="Update" name="updateForm" method="post">
									<th class="fixdCol numberCol">@item.Id</th>
									<td class="innerBoxCol"><input asp-for="@item.Hiduke" type="date" style="width: 100%; box-sizing: border-box;" /></td>
									<td class="innerBoxCol">
										<select asp-for="@item.HimokuId" asp-items="Model.HimokuNameSelect" style="width: 100%; box-sizing: border-box;"></select>
									</td>
									<td class="innerBoxCol"><input asp-for="@item.Meisai" type="text" style="width: 100%; box-sizing: border-box;" /></td>
									<td class="innerBoxCol"><input asp-for="@item.NyukinGaku" type="text" style="width: 100%; box-sizing: border-box; text-align: right;" /></td>
									<td class="innerBoxCol"><input asp-for="@item.ShukinGaku" type="text" style="width: 100%; box-sizing: border-box; text-align: right;" /></td>
									<td class="innerBoxCol"><input name="update" type="button" data-id="@item.Id" value="更新" box-sizing: border-box;" /></td>
									<td class="innerBoxCol"><input name="delete" type="button" data-id="@item.Id" value="削除" box-sizing: border-box;" /></td>
								</form>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</section>

</div>
<script src="~/js/update.js" asp-append-version="true"></script>